.comments_list {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px 5px 0 0;
    display: block;
    padding: 20px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}
@media (max-width: 992px) {
    .comments_list {
        max-width: calc(100% - 20px);
        padding: 15px;
    }
}
.comments_list_row {
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
    line-height: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}
.photo_avatar {
    padding-right: 20px;
}
.photo_avatar img {
    display: block;
    min-width: 50px;
    max-width: 50px;
    height: auto;
    border-radius: 100%;
}
.comment_name {
    font-weight: bold;
    padding-bottom: 7px;
}
.comment_text {
    opacity: 0.85;
}
.reviews {
    position: relative;
    flex-grow: 1;
}
.comments__item__meta {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    opacity: 0.7;
}
.comments_list_btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 7px;
}
.comments_list_btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s ease;
}
.comments_list_btn:hover,
.comments_list_btn:focus,
.comments_list_btn:active {
    opacity: 1;
}
.custom-icon {
    background-image: url(/landings/280181/1685522133/images/action_icons_20px_2x.png);
    display: inline-block;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
    margin: 0 3px 0 0;
    padding: 0;
    background-size: 100% !important;
    background-repeat: no-repeat;
}
.custom-icon-like {
    background-position: 0 -60px !important;
}
.custom-icon-comment {
    background-position: 0 -140px !important;
}
.custom-icon-share {
    background-position: 0 -100px !important;
}
.custom-icon-view {
    background-position: 0 -161px !important;
}
.comments_list_icons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
}
.comments_list_icons_item {
    color: #fff;
    opacity: 0.8;
    transition: all 0.3s ease;
}
.comments_list_icons_item:hover,
.comments_list_icons_item:focus,
.comments_list_icons_item:active {
    opacity: 1;
}
.item_views {
    margin-left: auto;
}
.item_like {
    margin-right: 20px;
}
.likes_wrap {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.like_people_image {
    border-radius: 100%;
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    display: block;
}
.like_people_image_wrap {
    position: relative;
}
.like_people_image_wrap:nth-child(1) {
    z-index: 2;
}
.like_people_image_wrap:nth-child(2) {
    margin-left: -15px;
}
.like_people_images {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
}
.like_people_text {
    color: #fff;
    opacity: 0.8;
    font-size: 14px;
}
@media (min-height: 900px) {
    .comments_list {
        /* margin-top: 230px; */
    }
}

.pop-up--timer {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    padding: 25px 15px;
}
.popUp--block {
    animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    background-color: #fff;
    min-height: 300px;
    width: 100%;
    max-width: 650px;
    margin: auto;
    padding: 50px 15px;
    box-sizing: border-box;
    border-radius: 45px;
}
.countdown-title {
    display: block;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #00aff0;
    text-align: center;
}
.countdown-message {
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: #141414;
    text-align: center;
}
.popUp--block .btn {
    margin: 0 auto;
    border: none;
}
.popUp--block .timer-wrapper {
    justify-content: center;
}
.timer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: #ffffff;
    margin: 20px 0;
}
.stepbox .timer-wrapper {
    top: 95px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}
.timer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.timer {
    width: 40px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 45px;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
}
.timer-blur {
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
}
@media (max-width: 768px) {
    .main-wrapper {
        padding: 15px 15px;
        position: relative;
    }
    .timer-wrapper {
        justify-content: flex-start;
    }
    .stepbox .timer-wrapper {
        top: 65px;
        left: 50%;
        transform: translate(-50%);
        justify-content: center;
    }
    .timer {
        width: 30px;
        height: 40px;
        font-size: 20px;
        line-height: 30px;
    }
    .stepbox--top .countdown-title {
        font-size: 26px;
    }
    .stepbox--top .countdown-message {
        font-size: 14px;
    }
}